body{
    background-color: antiquewhite;
}

main{
    width: 1000px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    margin: auto;
}

.info {
    width: 400px;
    height: 30px;
    /* border: 2px solid black; */
    float: left;
    margin: 10px;
    display: none;
}

header{
    width: 1000px;
    /* border: 2px solid blue; */
    margin: 0 auto;
}

.buttons {
    float: left;
    /* border: 2px solid blue; */
    width: 360px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    
}

.button {
background-size: auto;
background-position: center;
background-repeat: no-repeat;
width: 75px;
height: 90px;
background-color: antiquewhite;
cursor: pointer;
border-radius: 10px;
}

.s{
    background-image: url('stone_s.png');
}
.c{
    background-image: url('clipper_s.png');
}
.p{
    background-image: url('paper_s.png');
}



.hands{
    margin: 900 auto;
    width: 1000px;
    height: 460px;
    /* border: 3px solid red; */
    float: left;
    position: relative;
}

.hand_div {
    width: 350px;
    height: 430px;
    background-image: url('stone.png');
    background-position: center;
    background-repeat: no-repeat;
    /* border: 3px solid red; */
    justify-content: center;
    position: absolute;
    left: 0px;
    top:10px;
}

.result_div{
    width: 200px;
    height: 430px;
    border: 3px solid black;
    border-radius: 10px;
    justify-content: center;
    position: absolute;
    left: 400px;
    top:10px;
    text-align: center;
    color: red;
    font-weight: 800;
}

.restart{
    width: 200px;
    height: 30px;
    /* border: 3px solid red; */
}

#restart{
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: 800;
    padding: 3px 40px;
    margin-top: 10px;
    
}

.result_text{

    font-size: 25px;
    text-align: center;
    color: red;
    font-weight: 800;
    /* border: 3px solid black; */
    width: 195px;
    height: 60px;
    position: absolute;
    bottom: 300px;
}
.smile{
    width: 190px;
    height: 160px;
    /* border: 1px solid black; */
    position: absolute;
    left: 5px;
    bottom: 140px;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
}

.count{
    width: 190px;
    height: 40px;
    border: 2px solid black;
    position: absolute;
    left: 3px;
    bottom: 80px;
    font-size: 25px;
    border-radius: 5px;
}

.count_player{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    position: absolute;
    left: 5px;
    bottom: 10px;
    font-size: 25px;
    border-radius: 5px;
}

.count_opponent{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    position: absolute;
    left: 132px;
    bottom: 10px;
    font-size: 25px;
    border-radius: 5px;
}

.hand_divM {
    width: 350px;
    height: 430px;
    background-image: url('stoneM.png');
    background-position: center;
    background-repeat: no-repeat;
    /* border: 3px solid red; */
    justify-content: center;
    position: absolute;
    left: 645px;
    top:10px;
}
